## **Pandas** exercises

In [4]:
import pandas as pd
pd.__version__

'1.5.3'

In [5]:
s = pd.Series(data=[1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [6]:
dict_ex = {'keya': 1, 'keyb': 2, 'keyc': 3}
new_s = pd.Series(dict_ex)
new_s

keya    1
keyb    2
keyc    3
dtype: int64

In [7]:
dict_example = {'keya': 11, 'keyb': 22, 'keyc': 33}
dict_example = pd.Series(dict_example)
df = pd.DataFrame({'Dict': dict_ex, 'Dict1': dict_example})
tmp_df = df[df['Dict'] != 2]
tmp_df['Dict']

keya    1
keyc    3
Name: Dict, dtype: int64

In [8]:
import numpy as np
df = pd.DataFrame(np.random.rand(4, 4), columns=['col1', 'col2', 'col3', 'col4'],
                  index=['row1', 'row2', 'row3', 'row4'])
df.col1.iloc[[3, 2]] = None
df = df.dropna()
print(df)
print()
print(df.iloc[0:2])
print("")
print(df.loc[['row1', 'row2']])

          col1      col2      col3      col4
row1  0.832646  0.934633  0.018356  0.166335
row2  0.233004  0.274712  0.645019  0.856079

          col1      col2      col3      col4
row1  0.832646  0.934633  0.018356  0.166335
row2  0.233004  0.274712  0.645019  0.856079

          col1      col2      col3      col4
row1  0.832646  0.934633  0.018356  0.166335
row2  0.233004  0.274712  0.645019  0.856079

In [13]:
df1=pd.DataFrame({'book':['Oliver Twist','Alice in Wonderland','Harry Potter','The Hobbit'],
                  'type':['Drama','Kids','Fantasy','Fantasy'],
                  'price':[16,12,21,8]})

# applied lambda function
df1.groupby('type').filter(lambda x: x['book'].count()<2)

                  book   type  price
0         Oliver Twist  Drama     16
1  Alice in Wonderland   Kids     12