In [83]:
import pandas as pd
census_dataset = pd.read_csv('LondonCensus.csv')
crime_dataset = pd.read_csv('MPS_Ward_Level_Crime_Historic_NewWard.csv')

### it returns the London Borough that has the maximum number of crimes

In [84]:
complete_ds = pd.merge(census_dataset, crime_dataset)
crime_time = crime_dataset.drop(
    ['WardName', 'MajorCategory', 'MinorCategory'], axis=1)
crime_time.groupby('WardCode').sum()
crime_time['meanCrime'] = crime_time.mean(axis=1)
crime_time['varCrime'] = crime_time.std(axis=1)
crime_time = crime_time[['WardCode', 'meanCrime', 'varCrime']]
max_num_crime = crime_time['meanCrime'].max()
crime_time[crime_time.meanCrime == max_num_crime]

/tmp/ipykernel_18743/1772188169.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  crime_time.groupby('WardCode').sum()
/tmp/ipykernel_18743/1772188169.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  crime_time['meanCrime'] = crime_time.mean(axis=1)
/tmp/ipykernel_18743/1772188169.py:6: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  crime_time['varCrime'] = crime_time.std(axis=1)

        WardCode   meanCrime    varCrime
19885  E05000649  475.942857  129.621488

In [87]:
import matplotlib.pyplot as  plt
crime_dataset[['Borough', 'MajorCategory']]
crime_time = crime_dataset.groupby(['Borough', 'MajorCategory']).sum().copy()
crime_time['totCrime'] = crime_time.sum(axis=1)
crime_time = crime_time['totCrime']
crime_time_ni = crime_time.reset_index()
crime_time = crime_time_ni.pivot(
    index='Borough', columns='MajorCategory', values='totCrime')
crime_time

/tmp/ipykernel_18743/898530278.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  crime_time = crime_dataset.groupby(['Borough', 'MajorCategory']).sum().copy()

MajorCategory,Burglary,Criminal Damage,Drugs,Fraud or Forgery,Other Notifiable Offences,Robbery,Sexual Offences,Theft and Handling,Violence Against The Person
Borough,,,,,,,,,
Barking and Dagenham,17231,16122,8106,2049,2910,6202,2979,50114,44921
Barnet,36650,18981,8307,3422,3421,6811,3469,85121,51953
Bexley,13776,14460,6425,1147,2379,2247,2146,38162,32441
Brent,28402,19505,23951,3306,4220,11634,3941,72814,70461
Bromley,25687,20274,7793,1779,2878,4505,3123,67759,50165
Camden,27732,16403,16392,3137,3974,10811,3866,131720,57189
Croydon,30940,27279,16625,2860,4761,11646,5302,86038,74156
Ealing,28265,22652,15078,3398,4762,8405,4121,88230,71741
Enfield,28651,19624,11092,2699,3756,8798,3694,72355,52231
Greenwich,20715,21045,9783,2285,4183,5164,3974,66579,60764
Hackney,24377,17126,15119,2121,3672,10291,4573,94055,64521
Hammersmith and Fulham,16925,12802,13088,2046,3589,5082,2672,76678,45565
Haringey,26800,19583,12352,2121,3389,11287,3968,83862,58639
Harrow,19116,10896,6083,1996,2178,3802,2014,37856,32951
Havering,20482,14937,7165,1195,2731,3709,2612,53737,40034
Hillingdon,25103,21734,9500,2531,8233,5236,3438,79239,58873
Hounslow,20959,19464,12293,2363,4529,4661,3630,72406,57645
Islington,22193,16480,13289,2198,3805,9968,3505,101153,57440
Kensington and Chelsea,15676,9178,12246,2412,2420,4941,2191,86627,33181
Kingston upon Thames,10199,9217,5442,1108,1417,1553,1828,34365,24232
Lambeth,29619,23477,21870,3120,4695,16612,5763,106793,78100
Lewisham,24562,21617,14172,2779,3860,9876,4415,66970,65847
Merton,15805,12173,5741,1352,1745,3617,2116,41031,29537
Newham,24647,21414,17218,4146,5165,16821,4942,105045,72497
Redbridge,26572,15639,12725,2287,3010,7650,3267,70423,47207
Richmond upon Thames,16494,10438,3940,1200,1617,1700,1796,37742,22952
Southwark,28701,22827,22912,2783,4561,16209,5121,103279,71901
Sutton,12578,11903,4169,654,1618,2179,2033,34967,28284
Tower Hamlets,24666,20503,20970,2818,4829,11212,4447,85353,69181
Waltham Forest,23813,17454,11493,3299,3236,9090,3439,72067,54667
Wandsworth,25697,17298,8050,2179,3391,7547,4060,83651,50637
Westminster,32351,19862,30788,6306,6645,18702,5717,269232,83566

In [185]:
crime_time = crime_dataset.drop(
    ['WardName', 'MajorCategory', 'MinorCategory', 'Borough'], axis=1)
crime_time.groupby('WardCode').sum()

columns = crime_time.columns.to_list()
columns.remove('WardCode')
years = []
months = []
for column in columns:
    years.append(column[2:6])
    months.append(column[6:])

year_month = pd.DataFrame({'Years': years, 'Months': months, 'date': columns})

crime_time = crime_time.transpose()
crime_time = crime_time.reset_index()
crime_time['index'].iloc[0]='date'
new_header = crime_time.iloc[0]
crime_time=crime_time[1:]
crime_time.columns=new_header
result = pd.merge(crime_time, year_month)
result=result.groupby(['Years','Months']).sum()
result=result.drop('date',axis=1)
result

              E05000026  E05000027  E05000028  E05000029  E05000030  \
Years Months
2010  04              9          7         10         10          3
      05              4          3          6         10          5
      06              6          8         21         11          2
      07              6         12          7          8          6
      08             12         12         13         13          4
...                 ...        ...        ...        ...        ...
2018  08              3          4          3          4          3
      09              6          4          6          8          6
      10              6          8          5          5          6
      11              4          4         10         10         11
      12              8         10          9          8          2

              E05000031  E05000032  E05000033  E05000034  E05000035  ...  \
Years Months                                                         ...
2010  04              8          7         10          8          4  ...
      05              3          6          3          7          3  ...
      06              2          7         10          9         10  ...
      07             12          8          9         10          6  ...
      08             18          3         14          7          4  ...
...                 ...        ...        ...        ...        ...  ...
2018  08              6          5         12          2          7  ...
      09              9          3         10          3         13  ...
      10              6          7          5          4          3  ...
      11             16          2          4          7         10  ...
      12              8          5         12          9         25  ...

              E05000640  E05000641  E05000642  E05000643  E05000644  \
Years Months
2010  04              2          0          3          0          5
      05              0          2          1          0         14
      06              0          3          2          0          9
      07              0          1          1          1         10
      08              0          0          2          2         13
...                 ...        ...        ...        ...        ...
2018  08              1          4          4          3         29
      09              1          9          4          1         32
      10              2          1          1          1         33
      11              2          6          2          1         25
      12              0          3          4          1         33

              E05000645  E05000646  E05000647  E05000648  E05000649
Years Months
2010  04              0          2          0          0          8
      05              0          4          0          0          9
      06              2          1          1          0          7
      07              0          0          2          4         15
      08              0          0         13          0         14
...                 ...        ...        ...        ...        ...
2018  08              3          5          3          4         19
      09              3          3          2          2         32
      10              2          3          1          3         30
      11              3          5          3         10         21
      12              0          2          2          3         29

[105 rows x 20126 columns]